@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



@theme {
    /* Colors */
    --color-primary: #10b981;
    /* hijau petshop */
    --color-secondary: #f59e0b;
    /* aksen */
    --color-dark: #0f172a;
    /* teks gelap */
    --color-muted: #64748b;
    /* teks sekunder */

    /* Fonts */
    --font-sans: 'poppins', ui-sans-serif, system-ui, sans-serif;
}

/* ===============================
   BASE STYLE
   =============================== */
@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-slate-50 text-slate-800 font-sans;
    }

    h1 {
        @apply text-4xl font-bold text-dark;
    }

    h2 {
        @apply text-3xl font-bold text-dark;
    }

    h3 {
        @apply text-xl font-semibold text-dark;
    }

    p {
        @apply text-muted leading-relaxed;
    }
}



@layer components {
    .btn-primary {
        @apply inline-flex items-center justify-center bg-primary text-white px-6 py-3 rounded-lg font-semibold hover:bg-emerald-600 transition;
    }

    .btn-secondary {
        @apply inline-flex items-center justify-center bg-secondary text-white px-6 py-3 rounded-lg font-semibold hover:bg-amber-600 transition;
    }
}

[x-cloak] {
    display: none !important;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.hero-float {
    animation: float 4s ease-in-out infinite;
    will-change: transform;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-up {
    opacity: 0;
    /* Start hidden */
    animation: fadeInUp 0.8s ease-out forwards;
}

.delay-100 {
    animation-delay: 0.1s;
}

.delay-200 {
    animation-delay: 0.2s;
}

.delay-300 {
    animation-delay: 0.3s;
}